.wrapper {
    display: grid;
    gap: 1em 1em;
    padding: 0 1em;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.landingpage p {
    white-space: pre-line;
}

.kmom-box {
    grid-column: span 1;
    border-top: 35px solid #cece71;
    border-left: 1px solid #555;
    border-right: 1px solid #555;
    border-bottom: 5px solid #cece71;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}

.kmom-box a {
    position: relative;
    left: -40%;
    top: -50%;
    text-decoration: underline;
}

.kmom-box.project {
    grid-column: span 3;
}

@media (max-width: 767px) {
    .landingpage h1,
    .kmom-box,
    .kmom-box.project {
        grid-column: span 1;
    }

    .kmom-box a {
        position: relative;
        left: 0;
        top: -70%;
        text-decoration: underline;
    }
}

.sidenav {
    position: absolute;
    top: 60%;
    left: 0;
    border-top: 3px solid #555;
    border-right: 3px solid #555;
    border-bottom: 3px solid #555;
    background-color: #555;
}

.sidenav a {
    padding: 5px;
    display: block;
}

.sidenav a:hover {
    color: #1000ff;
}

.main {
    margin-left: 30px;
    padding: 0 45px;
}

@media (max-width: 767px) {
    .main {
        font-size: 12px;
        margin-left: 80px;
        padding: 0 5px;
    }

    .sidenav {
        top: 75%;
        padding: 2px;
    }
}
