.wrapper {
    display: grid;
    gap: 1em 1em;
    padding: 0 1em;
}

.landingpage h1 {
    grid-column: span 3;
    justify-self: center;
}

.landingpage p {
    white-space: pre-line;
}

.sidenav {
    position: absolute;
    top: 60%;
    left: 0;
    border-top: 3px solid #555;
    border-right: 3px solid #555;
    border-bottom: 3px solid #555;

}

.sidenav a {
    padding: 5px;
    display: block;
}

.sidenav a:hover {
    color: #24fc20;
}

.main {
    margin-left: 140px;
    padding: 0 45px;
}

@media (max-width: 767px) {
    .main {
        font-size: 12px;
        margin-left: 80px;
        padding: 0px 5px;
    }
    .sidenav {
        top: 75%;
        padding: 2px;
    }
}
